---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from 'astro-icon/components'

import Irni from "../assets/Irni.jpg"
import Kris from "../assets/Kris.png"
import Mauren from "../assets/Mauren.png"
import Ranti from "../assets/Ranti.png"
import Yunita from "../assets/Yunita.jpg"

const teamList = [
  {
    name: "R. Irni Arfiyanti",
    role: "Instruktur Gambar",
    image: Irni,
    qoute: "I am an ambitious workaholic, but apart from that, pretty simple person.",
    ig: "#",
    twitter: "#",
    fb: "#",
  },
  {
    name: "Yunita Anggraini",
    role: "Instruktur Komik",
    image: Yunita,
    qoute: "I am an ambitious workaholic, but apart from that, pretty simple person.",
    ig: "#",
    twitter: "#",
    fb: "#",
  },
  {
    name: "Ranti Chairanti",
    role: "Instruktur Yoga",
    image: Ranti,
    qoute: "I am an ambitious workaholic, but apart from that, pretty simple person.",
    ig: "#",
    twitter: "#",
    fb: "#",
  },
  {
    name: "Maureena C. Paat",
    role: "Instruktur Yoga",
    image: Mauren,
    qoute: "I am an ambitious workaholic, but apart from that, pretty simple person.",
    ig: "#",
    twitter: "#",
    fb: "#",
  },
  {
    name: "Theresia Krismawati",
    role: "Instruktur Yoga",
    image: Kris,
    qoute: "I am an ambitious workaholic, but apart from that, pretty simple person.",
    ig: "#",
    twitter: "#",
    fb: "#",
  },
]

---

<BaseLayout title="About">
	<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <div class="max-w-[85rem] mx-auto pt-12 pb-10 px-4 sm:px-6 lg:px-8 md:pt-24">
    <!-- your content goes here ... -->
		<!-- <h1 class="text-4xl font-bold text-neutral-500">Tentang Kami</h1> -->
      <!-- Description of Studio Lima Team -->
      <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
        <div class="max-w-2xl mx-auto mb-10 lg:mb-14">
          <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Tentang Kami...</h2>
        </div>
        <!-- End Title -->

        <div class="max-w-2xl mx-auto divide-y divide-gray-200 dark:divide-neutral-700">
          <div class="py-8 first:pt-0 last:pb-0">
            <div class="flex gap-x-5">
              <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>

              <div>
                <h3 class="md:text-lg font-semibold text-gray-800 dark:text-neutral-200">
                  Filosofi kami
                </h3>
                <p class="mt-1 text-gray-500 dark:text-neutral-500">
                  <strong>StudioLima</strong> berdiri sejak 1996, adalah lembaga pendidikan seni yang menerapkan cara belajar dengan kedekatan personal, menempatkan siswa sebagai subyek, agar siswa berkembang menjadi pribadi yang utuh dan unik. Divisi akademik dan divisi manajemen/administrasi ditempatkan sebagai posisi yang sama penting dalam penyelenggaraan roda institusi – StudioLima menciptakan suasana ‘rumah’ dalam belajar.
                </p>
              </div>
            </div>
          </div>

          <div class="py-8 first:pt-0 last:pb-0">
            <div class="flex gap-x-5">
              <!-- <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg> -->
              <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" data-slot="icon" width="24" height="24" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"></path>
              </svg>
              <div>
                <h3 class="md:text-lg font-semibold text-gray-800 dark:text-neutral-200">
                  Pengurus Harian
                </h3>
                <ul class="list-disc list-inside space-y-1 text-gray-500 dark:text-neutral-500">
                  <li >
                    Endang Ayu Mulyasari
                  </li>
                  <li >
                    Suci Hikmahwati
                  </li>
                  <li >
                    Agi Setiana
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="py-8 first:pt-0 last:pb-0">
            <div class="flex gap-x-5">
              <!-- <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg> -->
              <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" data-slot="icon" width="24" height="24" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="m9 9 10.5-3m0 6.553v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 1 1-.99-3.467l2.31-.66a2.25 2.25 0 0 0 1.632-2.163Zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 0 1-.99-3.467l2.31-.66A2.25 2.25 0 0 0 9 15.553Z"></path>
              </svg>
              <div>
                <h3 class="md:text-lg font-semibold text-gray-800 dark:text-neutral-200">
                  Kelas Musik
                </h3>
                <ul class="list-disc list-inside space-y-1 text-gray-500 dark:text-neutral-500">
                  <li>
                    Piano (Ade Wijaya, Agustina, Budi Rahmat Akbar, Ima Ratnasari, Mira Dewi)
                  </li>
                  <li>
                    Gitar (Anton, Fuad)
                  </li>
                  <li>
                    Drum (Angga)
                  </li>
                  <li>
                    Biola (Felicia Asriyani)
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="py-8 first:pt-0 last:pb-0">
            <div class="flex gap-x-5">
              <!-- <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg> -->
              <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" data-slot="icon" width="24" height="24" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42"></path>
              </svg>
              <div>
                <h3 class="md:text-lg font-semibold text-gray-800 dark:text-neutral-200">
                  Kelas Seni
                </h3>
                <ul class="list-disc list-inside space-y-1 text-gray-500 dark:text-neutral-500">
                  <li>
                    Gambar (R. Irni)
                  </li>
                  <li>
                    Komik (Yunita)
                  </li>
                  <li>
                    Ballet (Viva Iin)
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="py-8 first:pt-0 last:pb-0">
            <div class="flex gap-x-5">
              <!-- <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg> -->
              <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" data-slot="icon" width="24" height="24" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"></path>
              </svg>
              <div>
                <h3 class="md:text-lg font-semibold text-gray-800 dark:text-neutral-200">
                  Kelas Kebugaran
                </h3>
                <ul class="list-disc list-inside space-y-1 text-gray-500 dark:text-neutral-500">
                  <li>
                    Hatha Yoga (Ranti Chairanti, Theresia, Maureen, Tutia)
                  </li>
                  <li>
                    Theurapetic Yoga (Indahwati, Rulia)
                  </li>
                  <li>
                    Iyengar Yoga (Silvy)
                  </li>
                  <li>
                    Pilates (Ranti Chairanti)
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="py-8 first:pt-0 last:pb-0">
            <div class="flex gap-x-5">
              <!-- <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg> -->
              <svg class="flex-shrink-0 mt-1 size-6 text-gray-500 dark:text-neutral-500" data-slot="icon" width="24" height="24" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V13.5Zm0 2.25h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V18Zm2.498-6.75h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V13.5Zm0 2.25h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V18Zm2.504-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5Zm0 2.25h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V18Zm2.498-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5ZM8.25 6h7.5v2.25h-7.5V6ZM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 0 0 2.25 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0 0 12 2.25Z"></path>
              </svg>
              <div>
                <h3 class="md:text-lg font-semibold text-gray-800 dark:text-neutral-200">
                  Matematika Gasing
                </h3>
                <p class="mt-1 text-gray-500 dark:text-neutral-500">
                  Teguh
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Description of Studio Lima Team -->

      <!-- Team -->
      <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
        <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
          <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Team Studio Lima</h2>
          <p class="mt-1 text-gray-600 dark:text-neutral-400">Creative people</p>
        </div>
        <!-- End Title -->

        <!-- Grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          {teamList.map(team => <div>
            <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
              <div class="flex items-center gap-x-4">
                <img class="rounded-full size-20" src={team.image.src} alt={team.name}>
                <div class="grow">
                  <h3 class="font-medium text-gray-800 dark:text-neutral-200">
                    {team.name}
                  </h3>
                  <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
                    {team.role}
                  </p>
                </div>
              </div>

              <p class="mt-3 text-gray-500 dark:text-neutral-500">
                {team.qoute}
              </p>

           
              <div class="mt-3 space-x-1">
                <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700" href={team.twitter}>
                  <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                  </svg>
                </a>
                <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700" href={team.ig}>
                  <Icon name="mdi:instagram" class="flex-shrink-0 size-3.5"/>
                </a>
                <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700" href={team.fb}>
                  <Icon name="mdi:facebook" class="flex-shrink-0 size-3.5" />
                </a>
              </div>
            
            </div>
          
          </div>)}

          

          <a class="col-span-full lg:col-span-1 group flex flex-col justify-center text-center rounded-xl p-4 md:p-6 border border-dashed border-gray-200 hover:shadow-sm dark:border-neutral-700" href="#">
            <h3 class="text-lg text-gray-800 dark:text-neutral-200">
              We are hiring!
            </h3>
            <div>
              <span class="inline-flex items-center gap-x-2 text-blue-600 group-hover:text-blue-700 dark:text-blue-500 dark:group-hover:text-blue-400">
                See all opening positions
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              </span>
            </div>
          </a>
          <!-- End Col -->
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Team -->
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
	
</BaseLayout> 